<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title>Forget Password</title>
</head>

<body style="background: lightgrey;">
    <%- include("./partials/nav.ejs") %>

        <div class="container mt-4">
            <h3>Forget Password</h3>
            <form action="/user/forget-password" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Enter your registered email</label>
                    <input name="email" type="email" class="form-control" id="email" required>
                </div>
                <button type="submit" class="btn btn-primary">Send Reset Link</button>
            </form>
        </div>

        <%- include("./partials/script.ejs") %>
</body>

</html>