<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Home</title>
</head>
<body style="background: lightgrey;">
    <%- include("./partials/nav.ejs") %>

    <h1>HomePage</h1>

    <%- include("./partials/script.ejs") %>
</body>
</html>